<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>
  <p>
    <strong>Authors:</strong>
    <%= book.authors.map(&:full_name).join(", ") %>
  </p>
  <p>
    <strong>Genre:</strong>
    <%= book.genre.name %>
  </p>
</div>
